<!DOCTYPE html>

<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}Discount Control{% endblock %}</title>

        {% endblock %}
    </head>

    {% block body %}

    {% endblock %}
</html>

